* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

/* Header and Nevagation style */
.header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat, center;
    background-size: cover;


    /* from w3 school */
    height: 500px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;

}

.nav-title {
    font-weight: 700;
    font-size: 40px;
}

/* Banner style */
.banner {
    margin: 100px 30px;
}


.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
    /* width: 525px;
    height: 228px; */
}

.banner-discription {

    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
    /* width: 494px;
    height: 78px; */

}

.btn-primary {
    background: #FFFFFF;
    border-radius: 5px;
    border: 0px;


    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 20px 25px;
}

/* Section style..... */


.fimg {
    width: 569px;
    height: 723.3px;
}

.discription {
    display: flex;
    justify-content: space-between;
    margin: 130px 100px;
    align-items: center;
}

.title {
    margin-left: 300px;
}

.sec-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #151414;

}

.sec-description {
    font-size: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #444343;


}

.sec-list {
    list-style: none;
    font-size: 16px;
    color: #444343;

}

.my-plan {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}

/* skill style...... */
.skills-container {
    margin: 0 230px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.skill-title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}

.skill-description {
    margin-top: 16px;
    font-weight: 500;
    font-size: 25px;
    color: #737272;

}


/* main last-part style */
.advice {
    margin: 130px 230px;
    background-image:
        /* url('../images/gradient1.png'),*/
    ;
    background-repeat: no-repeat;
    /* from w3 school */
    background-image: linear-gradient(to right, rgb(4, 70, 131), rgba(4, 77, 146, 0.308)), url('../images/watch.png');
    /* width: 1140px;
    height: 300px; */
    padding: 60px 64px;

    background-size: cover;
    border-radius: 5px;
}

.always {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;


}

/* footer style */
footer {
    /* border: solid black; */
    display: flex;
    gap: 300px;
    align-items: center;
    background: #151414;

}

.future-item {
    padding: 130px 230px;
}

.future {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
    color: #F8F8F8;
}

.fut-des {
    font-size: 16px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.fut-eml {
    font-size: 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.fut-phon {
    font-size: 16px;
    margin-bottom: 32px;
    color: #FFFFFF;
}

/* Subscribe part style */
.subscribe {
    padding: 130px 230px;
}

.subs {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 31px;
}

.email {
    font-size: 18px;
    margin-bottom: 16px;
   
    


}
.subs{
    font-weight: 600;
font-size: 25px;
color: #FFFFFF;
}

/* background: #FFFFFF;
    border-radius: 5px;
    border: 0px;


    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 20px 25px; */
    .btn-subs{
        border-radius: 5px;
    border: 0px;  
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px; 
    background: #005FAC;
    color: #FFFFFF;
    }